.projectCard {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 100%;
}

.projectCardTop {
  height: 250px;
}
.projectCardTop > img {
  width: 100%;
  height: 100%;
}

.projectCardBottom {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0px 20px;
}
.projectCardBottom > h1 {
  margin-top: 20px;
  font-size: 20px;
  color: #182333;
  margin-bottom: 1rem !important;
  font-family: "Roboto", sans-serif;
  font-family: Poppins, sans-serif;
  font-family: "Work Sans", sans-serif;
  font-family: "Baloo Bhai 2", cursive;
}
.projectCardBottom > h5 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #8d9297;
  margin-bottom: 1rem !important;
  height: 100px;
  font-family: Poppins, sans-serif;
  text-align: center;
}
.projectCard:hover #h {
  color: white;
  z-index: 1;
}
.projectCardBottom > button {
  margin-bottom: 1rem !important;
  text-transform: uppercase;
  border: none;
  background: transparent;
  color: #fda12b;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.btn-arrow {
}
.projectCard:hover .overFlow {
  color: #fff;
  border: none;
  /* padding: 10px 20px; */
  /* background: #966629; */
  /* -webkit-transition: background 2s; 
  transition: background 2s;  */
  width: 100%;
  height: 100%;
}

.overFlow {
  position: absolute;
  width: 100%;
  height: 0;
  background-color: rgba(248, 136, 9, 0.85);
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.5s ease;
}
.projectCardTop > img :hover {
  scale: 1.1;
}

@media screen and (max-width: 580px) {
  .projectCardTop {
    height: 300px;
  }
  .projectCardTop > img {
    background-size: contain;
  }
}
