.clients-wrapper {
  width: 100%;
  height: 550px;
  background: #f7faff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/*** main Container ***/

.mainContainer {
  width: 250px;
  /* height: 50px; */
  border-radius: 40px;
  border: 1px solid #cad0d8;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 14px 0px;
  /* margin-top: -200px; */
  /* margin-left: 280px; */
  position: relative;
  /* margin-top: 10%; */
  z-index: 33;
}

/*** main Container ***/

/*** left Container ***/
.topLine {
  height: 198px;
  border: 1px solid #cad0d8;

  position: absolute;
  margin-top: -263px;
  z-index: 121;
  margin-left: 0px;
}
.bottomLine {
  height: 179px;
  border: 1px solid #cad0d8;

  position: absolute;
  margin-top: 243px;
  z-index: 121;
  margin-left: 0px;
}
.container1 {
  left: 100px;
  bottom: 20px;
}

/*** Rare container ***/
.rare {
  position: absolute;
  margin-left: -180px;
  margin-top: -460px;
}

/*** Rare container ***/
/*** Umar container ***/

.umar {
  position: absolute;
  margin-left: 280px;
  margin-top: -310px;
}
/*** Umar container ***/

/*** stary container ***/

.stary {
  position: absolute;
  margin-left: -240px;

  margin-top: -240px;
}
.ab {
  position: absolute;
  margin-left: -440px;

  margin-top: 90px;
}
.sma {
  position: absolute;
  margin-left: 440px;

  margin-top: -90px;
}

/*** stary container ***/
.eidpl {
  position: absolute;
  margin-left: -240px;

  margin-top: 240px;
}

/*** kachi container ***/

.kachi {
  position: absolute;
  margin-left: 370px;
  margin-top: 200px;
}
/*** kachi container ***/

.classic {
  position: absolute;
  margin-left: 230px;
  margin-top: 420px;
}

.rarLine {
  border: 1px solid #cad0d8;
  width: 16px;
  position: absolute;
  margin-top: -28px;
  margin-left: 142px;
}
.classicLine {
  border: 1px solid #cad0d8;
  width: 17px;
  position: absolute;
  margin-top: -28px;
  margin-left: -23px;
}
.umarLine {
  border: 1.2px solid #cad0d8;
  border: 1px solid #cad0d8;
  width: 46px;
  position: absolute;
  margin-top: -28px;
  margin-left: -51px;
}
.staryLine {
  border: 1.2px solid #cad0d8;
  width: 39px;
  position: absolute;
  margin-top: -28px;
  margin-left: 156px;
}
.kachiLine {
  border: 1.2px solid #cad0d8;
  width: 93px;
  position: absolute;
  margin-top: -28px;
  margin-left: -99px;
}
.eidplLine {
  border: 1.2px solid #cad0d8;
  width: 63px;
  position: absolute;
  margin-top: -28px;
  margin-left: 109px;
}
.abLine1 {
  border: 1.2px solid #cad0d8;
  width: 99px;
  position: absolute;
  margin-top: -78px;
  margin-left: 76px;
}
.abLine2 {
  border: 1.2px solid #cad0d8;
  width: 16.5px;
  position: absolute;
  margin-top: -70px;
  margin-left: 69px;
  transform: rotate(90deg);
}
.smaLine1 {
  border: 1.2px solid #cad0d8;
  /* border: 1.2px solid red; */

  width: 102px;
  position: absolute;
  margin-top: 18px;
  margin-left: -3px;
  color: red;
}
.smaLine2 {
  border: 1.2px solid #cad0d8;
  width: 14px;
  position: absolute;
  margin-top: 11px;
  margin-left: 91px;
  transform: rotate(90deg);
}

@media screen and (max-width: 680px) {
  .clients-wrapper {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 380px;
  }
  .topLine {
    height: 298px;
    border: 1px solid #cad0d8;

    position: absolute;
    margin-top: -163px;
    z-index: 121;
    margin-left: 160px;
  }
  .bottomLine {
    height: 311px;

    border: 1px solid #cad0d8;

    position: absolute;
    margin-top: 578px;
    /* z-index: 121; */
    margin-left: -160px;
  }
  .rare {
    position: absolute;
    margin-left: -80px;
    margin-top: -460px;
  }
  .rarLine {
    width: 46px;
  }

  .stary {
    margin-left: -100px;
    margin-top: -140px;
  }
  .eidpl {
    position: absolute;
    margin-left: -80px;

    margin-top: -300px;
  }
  .ab {
    position: absolute;
    margin-left: -100px;

    margin-top: 20px;
  }
  .mainContainer {
    margin-top: 200px;
  }
  .abLine1 {
    width: 49px;
    margin-top: -28px;
    margin-left: 159px;
  }
  .abLine2,
  .smaLine2 {
    display: none;
  }
  .staryLine {
    width: 49px;
    margin-top: -28px;
    margin-left: 156px;
  }
  .umar {
    position: absolute;
    margin-left: 120px;
    margin-top: 380px;
  }
  .classic {
    position: absolute;
    margin-left: 130px;
    margin-top: 550px;
  }
  .classicLine {
    border: 1.2px solid #cad0d8;
    border: 1px solid #cad0d8;
    width: 46px;
    position: absolute;
    margin-top: -28px;
    margin-left: -51px;
  }
  .kachi {
    position: absolute;
    margin-left: 120px;
    margin-top: 720px;
  }
  .kachiLine {
    width: 48px;
    position: absolute;
    margin-top: -28px;
    margin-left: -52px;
  }
  .sma {
    position: absolute;
    margin-left: 100px;

    margin-top: 890px;
  }
  .smaLine1 {
    width: 28px;
    margin-top: -30px;
    margin-left: -33px;
  }
}

@media screen and (max-width: 360px) {
  .bottomLine {
    margin-left: -180px;
  }
  .smaLine1 {
    width: 15px;
    margin-top: -30px;
    margin-left: -19px;
  }
  .sma,
  .umar,
  .classic,
  .kachi {
    margin-left: 50px;
  }
  .umarLine {
    width: 20px;
    margin-left: -25px;
  }
  .classicLine {
    width: 17px;
    margin-left: -23px;
  }
  .kachiLine {
    width: 21px;
    margin-left: -26px;
  }
}
