.right-container {
  width: fit-content;
  height: 55px;
  border-radius: 40px;
  border: 1px solid #cad0d8;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0px 20px;
  position: relative;
}
.right-container::before {
  content: "";
  background-image: conic-gradient(#ff0052 20deg);
}

.right-container > h1 {
  font-size: 20px;
  
}
.right-dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  border: 1px solid #cad0d8;
  position: absolute;
  left: -7px;
}
