.footer-main {
}

.contact-social {
  margin-top: 30px;
}

.contact-social > ul {
  display: inline-flex;
}
.contact-social > ul > li {
  list-style: none;
}
.contact-social ul li a {
  border: 1px solid #8b9199;
  color: #8b9199;
  display: inline-block;
  height: 40px;
  margin: 0 10px;
  padding-top: 7px;
  transition: all 0.4s ease 0s;
  width: 40px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 24px;
  border-radius: 5px;
}

.contact-social ul li a:hover {
  border: 1px solid #fab702;
  color: #fab702;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #353c46;
  padding: 30px 0px;
  width: 100%;
}

.footer > h6 {
  font-size: 17px;
  width: 50%;
  text-align: center;
  line-height: 1.5;
  font-family: "Ysabeau Office", sans-serif;
}

.footer > img {
  max-width: 210px;
}
.footer-address {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-address > h6 {
  font-size: 16px;
  /* margin: 30px 0 60px;
  position: relative; */
  width: 100%;
  text-align: center;
  line-height: 1.5;
  font-family: "Ysabeau Office", sans-serif;
}
.footer-numbers > h6 {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  font-family: "Ysabeau Office", sans-serif;
  word-spacing: 5px;
  font-size: 16px;
}

.hr {
  border-bottom: 1px solid #353c46;
  width: 30%;
  margin: 30px 0px;
}

.footer,
.copyRight {
  background: #1a1e25;
  color: #868c96;
}
.copyRight {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyRight p {
  padding: 30px 0;
  text-align: center;
  font-family: "Ysabeau Office", sans-serif;
  font-size: 16px;
}

.copyRight > img {
  width: 44px;
  /* margin-top: 30px; */
}

@media screen and (max-width: 680px) {
  .footer > h6 {
    width: 70%;
  }
  .footer-address > h6 {
    width: 80%;
  }
  .hr {
    width: 60%;
  }
}
@media screen and (max-width: 380px) {
  .footer-numbers > h6 {
    display: flex;
    flex-direction: column;
  }
  .footer-numbers > h6 > span {
    display: none;
  }
}
