.teamCards {
  padding: 30px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.teamCard {
  /* border: 2px solid salmon; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* height: 70vh; */
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 2px solid purple; */
  height: 400px;
  border-radius: 15px;
  animation: pulse 1s infinite ease-in-out alternate;
}
@keyframes pulse {
  from {
    transform: scale(0.99);
  }
  to {
    transform: scale(1.01);
  }
}

.cardTopMain {
  width: 100%;
  height: 290px;
  overflow: hidden;
}
.cardTop {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* overflow: scroll; */
  position: relative;
  /* border: 1px solid blue; */
  transition: animationi 0.3s ease-in-out 3s;
}
.cardTop:hover {
  scale: 1.01;
  transition: animationi 0.3s ease-in-out 3s;
}
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
}

.cardCenter {
  padding: 20px;
  height: 150px;
  width: 100%;
  /* background-color: red; */
}
.cardCenter > p {
  margin-top: 15px;
}
.wave {
  position: absolute;
  z-index: 12;
}
.cardBottom {
  padding: 15px 20px;
  background-color: #f7f7f7;
  /* height: 60px; */
  /* width: 100%; */
  border-bottom: 5px solid #ff2c95;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.cardBottom > h3 {
  color: #ff2c95;
  font-weight: 500;
  font-size: 20px;
  font-family: "Baloo Bhai 2", cursive;
}
.cardBottom > h5 {
  color: #8175a3;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
