@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Alice&family=Armata&family=Caveat:wght@400;500;600;700&family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,800;0,900;1,100;1,200;1,800;1,900&family=Radio+Canada:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Rokkitt:ital,wght@0,300;0,400;0,600;0,700;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Alice&family=Armata&family=Caveat:wght@400;500;600;700&family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,800;0,900;1,100;1,200;1,800;1,900&family=Radio+Canada:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Rokkitt:ital,wght@0,300;0,400;0,600;0,700;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ysabeau+Office:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Alice&family=Armata&family=Caveat:wght@400;500;600;700&family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,800;0,900;1,100;1,200;1,800;1,900&family=Radio+Canada:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Rokkitt:ital,wght@0,300;0,400;0,600;0,700;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ysabeau+Office:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Alice&family=Armata&family=Caveat:wght@400;500;600;700&family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,800;0,900;1,100;1,200;1,800;1,900&family=Radio+Canada:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Rokkitt:ital,wght@0,300;0,400;0,600;0,700;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,800;0,900;1,100;1,200;1,800;1,900&family=Ysabeau+Office:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

  @import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Alice&family=Armata&family=Baloo+Bhai+2:wght@400;500;600;700&family=Caveat:wght@400;500;600;700&family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,800;0,900;1,100;1,200;1,800;1,900&family=Radio+Canada:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Rokkitt:ital,wght@0,300;0,400;0,600;0,700;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,800;0,900;1,100;1,200;1,800;1,900&family=Ysabeau+Office:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Ysabeau Office', sans-serif; */
/* font-family: 'Work Sans', sans-serif; */
/* font-family: 'Baloo Bhai 2', cursive; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* body{
font-family: 'Poppins', sans-serif;


} */

:root {
  --primary: #fab702;
}

a {
  text-decoration: none;
}
