.slider-swiper{
  width: 100%;
  /* background-color: purple; */
  overflow: hidden;
}



.home-slide-1 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }

  .home-slide-1,
  .home-slide-2 {
    background-image: url(../../assets/airoplane3.jpg);
    height: 88vh;
    width: 100vw;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 130px 10vmin;
    position: relative;
    background-repeat: no-repeat;
    object-fit: fill;
  }
  .slide-1-swapper,
  .slide-2-swapper{
    position: relative;

  }

  .slide-1-swapper>h3 {
    color: var(--white);
    margin-top: 20px;
    color:  rgb(51,70,88);
   
  }

  .slide-1-swapper>h1 {
    color: var(--white);
    text-transform: uppercase;
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 20px;
    color: red;
  }
  .slide-1-swapper>span{
    color: var(--white);
    margin-top: 20px;
    font-size: 1.1rem;
    color: rgb(197,34,39);
    /* color:  rgb(42, 61, 79) !important; */
    font-weight: 700;
    text-decoration: dotted;
    text-decoration-color: yellow;

  }
  .heading3{
    color:  rgb(51,70,88) !important;
  }

  .home-btn {
    padding: 15px;
  }

  .home-slide-2 {
    /* background-image: url(../../assets/bg3.jpg); */
    height: 90vh;
    position: relative;

  }
  
 .slide-2-swapper>h3{
    color: white;
    font-size: 3rem;

 }
 .overlay{
    position: absolute;
    width: 100%;
    height: 90vh;
    /* background-color: rgba(21, 20, 20, 0.85); */
 }


  .swiper-button-next,
  .swiper-button-prev {
    /* position: absolute;
  top: var(--swiper-navigation-top-offset,50%);
  width: calc(var(--swiper-navigation-size)/ 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: greenyellow !important;
  background-color: #fa4318;
  border-radius: 50%;
  height: 50px !important;
  width: 50px !important;
  padding: 15px !important;
  margin-top: 50px !important;
  display: none; */
    color: white !important;
  }
  @media screen and (max-width:880px) {
    .home-slide-1,
    .home-slide-2 {
      padding: 50px 30px;
      overflow: visible;
      position: relative;
      height: auto;
    }
    .slide-1-swapper>h3{
      font-size: 22px;
    }
    .slide-2-swapper{
      width: 100%;
      /* background-color: gray; */
    }
    .slide-2-swapper>h3
    {
      font-size: 22px;

    }
    .slide-1-swapper>h1{
      font-size: 30px;
      /* color: blue; */
    }
  }
  @media screen and (max-width:680px) {
    .home-slide-1,
    .home-slide-2 {
      /* padding: 30px 20px; */
      overflow: visible;
      position: relative;
      height: auto;
      background-size: cover;
    }
    .slide-1-swapper>h3{
      font-size: 22px;
      color: white;
    }
    .slide-1-swapper>h1{
      font-size: 24px;
      /* color: blue; */
    }
    .slide-1-swapper>span{
      color: var(--para);
      margin-top: 50px !important;
      font-size: 1.1rem;
      color: yellow;
      /* color: purple; */
  
    }
  }
  .slide-1-swapper> h1 {
    /* position: absolute; */
    font-size: 3rem;
    -webkit-text-stroke: 1px #ffff;;
    color: transparent;
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -600px;
    animation: backcolor 5s linear infinite alternate;
    color: red;
}
@keyframes backcolor {
    100%{
        background-position: 0 0 ;
    }
}



